<!DOCTYPE html>
<html>
<head>
    <title>Upload Template</title>
</head>
<body>
    {% if message %}
        <p style="color: green;">{{ message }}</p>
    {% endif %}
    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}
    <form method="post" action="{% url 'bulk_uploding' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="csv_file">
        <button type="submit">Upload CSV</button>
    </form>
</body>
</html>